@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

/* general layout, typogrpahy etc settings */
body {
    font-family: 'Kumbh Sans', sans-serif;
}
p {
    padding: 10px 25px 10px;
    color: #808080;
}
.strong {
    font-weight: 600;
}
.event-description {
    padding: 0px;
}
.header-shadow {
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.3);
}
.text-shadow {
    text-shadow: 1px 1px #aaaaaa;
}
.white-text {
    color: white;
}
.btn-small {
    margin: 5px;
}
.btn-large {
    margin: 5px;
}
.btn {
    margin: 5px;
}
/* header, navbar, flashes and search bar */
#sby-kita {
    font-size: 44px;
    margin-left: 20px;
    text-shadow: 2px 2px #aaaaaa;
}
.nav-extended {
    min-height: 85px;
    padding-top: 7px;
    margin-bottom: 10px;
}
#filter-bar {
    padding: 0px 0px;
    margin: 0px;
}
#no-filter {
    max-height: 80px;
    margin-bottom: -8px;
}
.flashes h4{
    line-height: 2;
}
.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
/* home page */
.all-events-button {
    margin-top: 25px;
}
.flex {
    display: flex;
}
div#map {
  min-height: 360px;
  max-width: 700px;
  margin: 10px 25px 20px;
  }
div#cafe {
  min-height: 360px;
  max-width: 700px;
  margin: 10px 25px 20px;
  background-image: url('cafe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* managing categories */
.event-category {
    background-color: #00e5ff ;
    color: white;
    font-size: 24px;
    text-align: center;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: white;
    font-size: 24px;
    transition-property: color;
   -webkit-transition-property: color 0.5s ease;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: white;
}
/* events cards */
.card-link-i {
    margin-left: 50px;
}
#sgl-event-title {
    padding: 20px;
    margin-bottom: 0px;
}
#sgl-event-card {
    margin-top: 0px;
}
.sgl-event {
    margin: 5px;
}
.card .card-content {
    padding: 10px;
    height: 110px;
}
.card .card-content p {
    padding: 10px 0px;
    overflow: hidden;
}
.card-link-div {
    background-color: #b2ff59  !important;
    margin: 0px;
    height: 100px !important;
}
.card-link-div a {
    color: #fff;
    font-size: 24px;
}
.card .card-content .card-title i {
    font-size:18px;
    margin-left: 15px;
}
.card .card-content .card-title {
    color: white;
    margin-bottom: 0px;
}
.card .card-reveal {
    padding: 0px;
}
.card .card-reveal .card-title {
    color: white;
    padding-top: 15px;
}
.card .card-reveal i {
    color: white;
    margin: 0px 15px;
}
.card .card-reveal p {
    text-align: left;
}
.func-button {
    margin: 10px;
}
/* profile */
#monkey {
    background-image: url("../images/monkey.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 200px
}
#profile {
    font-size: 18px;
}
#profile p {
    padding: 10px;
    margin: 5px;
}
.line {
    border-bottom: 1px solid #00e5ff 
}
/* footer */
.fixed {
    min-height: 250px;
}
.page-footer {
    background-color: #00e5ff;
}
.right-border {
    border-right: 2px solid white;
}
#mini-map {
    max-width: 250px;
}
.footer .fa {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 4px;
    font-size: 28px;
    color: #fff;
}
.info-text-top {
    margin-top: 20px;
    font-size: 22px;
}
.info-text {
    margin-top: -10px;
    font-size: 22px;
}
.list-inline {
    margin-top: 50px;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
ul.social > li > a > i {
    margin: 15px;
    font-size: 52px;
    color: #fff;
}

/* modified materialize css */

.select-wrapper input.select-dropdown {color: white; font-size: 1rem; margin-left: 0px; }
.select-wrapper .caret {fill: white; }
ul.dropdown-content.select-dropdown li span {color: #00e5ff; }
.switch label input[type=checkbox]:checked+.lever {
  background-color: #84ffff;
}
.switch label input[type=checkbox]:checked+.lever:after {
  background-color: #00e5ff ;
}
.datepicker-date-display { background: #00e5ff; }
.month-prev:hover { background: #00e5ff; }
.month-next:hover { background: #00e5ff; }
.is-today { color: #00e5ff !important; }
.is-selected { background: #00e5ff !important; }
.datepicker-done { color: #00e5ff !important;}
.datepicker-cancel { color: #00e5ff !important;}
.datepicker-clear { color: #64dd17   !important;}

.timepicker-digital-display { background: #00e5ff !important; }
.timepicker-close { color: #00e5ff !important;}
.timepicker-clear { color: #64dd17   !important;}
.timepicker-tick:hover { background: #00e5ff !important; }
.timepicker-canvas line { stroke: #00e5ff !important; }
.timepicker-canvas-bearing { fill: #00e5ff !important; }
.timepicker-canvas-bg { fill: #00e5ff !important; }
/* responsiveness */
@media (max-width: 765px) {

#sby-kita {
    margin-left: -40px;
    margin-right: -20px;
    font-size: 32px;
    text-align: left;
}
.bottom-border {
    border-bottom: 2px solid #fff;
}
.right-border {
    border-right: 0px;
}
.info-text-top {
    margin-top: 20px;
    font-size: 18px;
}
.info-text {
    margin-top: -10px;
    font-size: 18px;
}
#profile {
    padding: 12px;
}
#no-filter {
    max-height: 180px;
}
.short-bottom {
    margin-bottom: -8px;
}
}