p {
    padding: 10px 25px 10px;
    color: #808080;
}


.text-shadow {
    text-shadow: 1px 1px #aaaaaa;)
}

h3 {
    text-shadow: 1px 1px #aaaaaa;
}

.white-text {
    color: white;
}

#sby-kita {
    font-size: 44px;
    margin-left: 20px;
    text-shadow: 2px 2px #aaaaaa;
}

.nav-extended {
    min-height: 85px;
    padding-top: 7px;
    margin-bottom: 10px;
}

#search-bar {
    max-height: 85px;
    padding-left: 40px;
}

.flashes h4{
    line-height: 2;
}

.btn-small {
    margin: 5px;
}

.btn {
    margin: 5px;
}

.collapsible-header .col strong {
    margin: 5px;
    line-height: 42px;
}
