{% extends 'base.html' %}
{% block content %}
<div class="row flashes">
<h4 class="cyan accent-3 center-align white-text header-shadow">Edit Event</h4> 
</div> 
<div class="container">
<div class="card-panel grey lighten-5">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_event', event_id=event._id) }}">
    <!-- event category -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-folder-open prefix cyan-text text-accent-3"></i>
    <select id="category_name" name="category_name" class="validate" required>
      <option value="" disabled>Choose category</option>
      {% for category in categories %}
      {% if category.category_name == event.category_name %}
        <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
      {% else %}
        <option value="{{ category.category_name }}" >{{ category.category_name }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <label for="category_name">Event Category</label>
      </div>
  </div>
  <!-- event name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-pencil-alt prefix cyan-text text-accent-3"></i>
          <input id="event_name" name="event_name" type="text" class="validate"
          minlength="5" maxlength="50" value="{{ event.event_name }}" required>
          <label for="event_name">Event Name</label>
        </div>
      </div>
      <!-- event description -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-align-left prefix cyan-text text-accent-3"></i>
          <textarea id="event_description" name="event_description" class="materialize-textarea validate" 
          minlength="5" maxlength="250" required>{{- event.event_description -}}</textarea>
          <label for="event_description">Event Description</label>
      </div>
      </div>
<!-- event date -->
           <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-calendar-alt prefix cyan-text text-accent-3"></i>
          <input id="event_date" name="event_date" type="text" class="datepicker validate"
          value="{{- event.event_date -}}" required>
          <label for="event_date">Date of Event</label>
        </div>
      </div>
      <!-- event time -->
           <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-clock prefix cyan-text text-accent-3"></i>
          <input id="event_time" name="event_time" type="text" class="timepicker validate"
          value="{{- event.event_time -}}" required>
          <label for="event_time">Time of Event</label>
        </div>
      </div>
      <!-- event location -->
    <div class="row">
      <div class="input-field col s12">
        <i class="fas fa-map prefix cyan-text text-accent-3"></i>
    <select id="location" name="location" class="validate" required>
      <option value="" disabled selected>Choose event area</option>
      {% for location in locations %}
      {% if location.location == event.location %}
        <option value="{{ location.location }}" selected>{{ location.location }}</option>
      {% else %}
        <option value="{{ location.location }}" >{{ location.location }}</option>
      {% endif %}
      {% endfor %}
    </select>
    <label for="location">Event Area</label>
      </div>
  </div>
      <!-- event meet point -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-map-marker-alt prefix cyan-text text-accent-3"></i>
          <textarea id="meet_point" name="meet_point" class="materialize-textarea validate" 
          minlength="5" maxlength="50" value="{{ event.meet_point }}"  required></textarea>
          <label for="meet_point">Meet Point</label>
      </div>
      </div>
        <!-- Switch -->
              <div class="row">
      <div class="input-field col s12">
        <div class="switch">
                  <i class="fas fa-comment-dollar prefix cyan-text text-accent-3"></i>
            <label for="paid_event">
            {% if event.free_event == "on" %}
            <input type="checkbox" id="paid_event" name="paid_event" checked>
            {% else %}
            <input type="checkbox" id="paid_event" name="paid_event">
            {% endif %}
            <span class="lever"></span>
            Free Event
            </label>
        </div>
        <!-- submit button -->
        <div class="row">
        <div class="col s12 center-align">
          <button class="btn-large cyan accent-3" type="submit">
          Update 
    <i class="fas fa-edit right"></i>
    </button>
    <a href="{{ url_for('my_events', username=session['user']) }}" class="btn-large light-green accent-4">
        Cancel<i class="fas fa-times-circle right"></i></a>
  
        </div>
        </div>
      </div>
      </div>   
    </form>
  </div>
  </div>
  </div> 
{% endblock %}