{% extends 'base.html' %}
{% block content %}
<div class="row flashes">
<h4 class="cyan accent-3 center-align white-text header-shadow">Edit Category</h4> 
</div>  <div class="card-panel grey lighten-5">
  <div class="row">
    <form class="col s12" method="POST" action="{{ url_for('edit_category', category_id=category._id) }}">

  <!-- category name -->
      <div class="row">
        <div class="input-field col s12">
          <i class="fas fa-folder-open prefix cyan-text text-accent-3"></i>
          <input id="category_name" name="category_name" type="text" class="validate"
          minlength="3" maxlength="25" value="{{ category.category_name }}" required>
          <label for="category_name">Category Name</label>
        </div>
      </div>
     
        <!-- submit button -->
        <div class="row">
        <div class="col s12 center-align">
        <button class="btn-large cyan accent-3" type="submit">
          Update 
    <i class="fas fa-edit right"></i>
      </button>
                <a href="{{ url_for('get_categories') }}" class="btn-large light-green accent-4">
        Cancel<i class="fas fa-times-circle right"></i></a>
        </div>
        </div>      
    </form>
  </div>
  </div>
{% endblock %}