{% extends "base.html" %} {% block content %}

<div class="row flashes">
  <h4 class="cyan accent-3 center-align white-text header-shadow">
    Check out the upcoming events here
  </h4>
</div>
<div class="row">
  {% for event in events %}
  <div class="col s12 m3">
    <div class="card">
      <div class="card-image">
        {% if event.category_name == "Cycle" %}
        <img src="{{ url_for('static', filename='images/cycle.jpg') }}" />
        <div class="event-category">Cycle</div>
        {% else %} {% if event.category_name == "Coffee" %}
        <img src="{{ url_for('static', filename='images/coffee.jpg') }}" />
        <div class="event-category">Coffee</div>
        {% else %} {% if event.category_name == "Walk" %}
        <img src="{{ url_for('static', filename='images/walk.jpg') }}" />
        <div class="event-category">Walk</div>
        {% else %} {% if event.category_name == "Market" %}
        <img src="{{ url_for('static', filename='images/market.jpg') }}" />
        <div class="event-category">Market</div>
        {% else %} {% if event.category_name == "Social" %}
        <img src="{{ url_for('static', filename='images/social.jpg') }}" />
        <div class="event-category">Social</div>
        {% else %} {% if event.category_name == "Workshop" %}
        <img src="{{ url_for('static', filename='images/workshop.jpg') }}" />
        <div class="event-category">Workshop</div>
        {% else %} {% if event.category_name == "Book Club" %}
        <img src="{{ url_for('static', filename='images/bookclub.jpg') }}" />
        <div class="event-category">Bookclub</div>
        {% endif %}
        {% endif %}
        {% endif %} {% endif %}
        {% endif %} {% endif %}{% endif %}
      </div>
      <div class="card-content">
        <p class="event-description">{{ event.event_description }}</p>
        <!--
{{ event.location }}<br>
{{ event.meet_point }}<br>
{{ event.event_date }}<br>
{{ event.event_time }}<br>
      {% if event.paid_event == "off" %}
      <p>Free event!</p> -->
        <!-- <i class="fas fa-exclamation-circle cyan-text text-accent-2 tooltipped"
          data-position="right" data-tooltip="Free!"></i> -->
        <!-- {% else %}
        <p>There is a charge for this event - see description</p> -->
        <!--
          <i class="fas fa-exclamation-circle cyan-text text-accent-2 tooltipped"
          data-position="right" data-tooltip="There is a charge for this event. See details."></i>   -->
        <!-- {% endif %}<br>
{{ event.created_by }}<br> -->
      </div>
      <div class="card-content card-link-div center-align">
      <span class="card-title activator">{{ event.event_name }}
      <i class="fas fa-plus prefix white-text tooltipped" id="event-deets"
                data-position="right" data-tooltip="Get Details"></i></span>
    </div>
      <div class="card-reveal">
      <span class="card-title card-link-div center-align">{{ event.event_name }}
      <i class="fas fa-times prefix white-text tooltipped right" id="event-deets-close"
                data-position="right" data-tooltip="Close Details"></i></span>
<p><i class="fas fa-list-ul prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Event Category"></i>
                {{ event.category_name }}<br>
                <i class="fas fa-edit prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Event Description"></i>
                {{ event.event_description }}<br>
                <i class="fas fa-map prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Event Location"></i>
                {{ event.location }}<br>
                <i class="fas fa-map-marker-alt prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Meet Point"></i>
                {{ event.meet_point }}<br>
                <i class="fas fa-calendar-alt prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Date of Event"></i>
                {{ event.event_date }}<br>
                <i class="fas fa-clock prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Time of Event"></i>
                {{ event.event_time }}<br>
                    {% if event.paid_event == "off" %}
                    <i class="fas fa-comment-dollar cyan-text text-accent-3 tooltipped sgl-event"
                     data-position="right" data-tooltip="Free!"></i>
                    Free event!<br>
                    {% else %}
                    <i class="fas fa-comment-dollar cyan-text text-accent-3 tooltipped sgl-event"
                     data-position="right" data-tooltip="Not Free"></i> 
                    There is a charge for this event - see description<br>
                    {% endif %}
                <i class="fas fa-user prefix cyan-text text-accent-3 tooltipped sgl-event"
                data-position="right" data-tooltip="Created by user"></i>
                {{ event.created_by }}<br></p>    </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
