{% extends 'base.html' %}
{% block content %}
<!-- header -->
<div class="row flashes">
    <h4 class="cyan accent-3 center-align white-text header-shadow">Login</h4> 
</div>
<!-- login form -->
<div class="row">
	<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
		<div class="card-panel">
        <!-- username -->
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-cog prefix cyan-text text-accent-3"></i>
					<input id="username" name="username" type="text" class="validate"
                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
					<label for="username" class="cyan-text text-accent-3">  Username</label>
				</div>
			</div>
            <!-- password -->
			<div class="row">
				<div class="input-field col s12">
                <i class="fas fa-user-lock prefix cyan-text text-accent-3"></i>
					<input id="password" name="password" type="password" class="validate"
                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
					<label for="password" class="cyan-text text-accent-3">  Password</label>
				</div>
			</div>
            <!-- register -->
            <div class="row center-align">
                <button type="submit" class="btn-large cyan accent-3">
                LOGIN <i class="fas fa-sign-in-alt"></i></button>
            </div>
		</div>
	</form>
</div>
<!-- link to register -->
<div class="row">
    <div class="col s12">
        <p class="center-align">Haven't joined us yet? 
            <a class="cyan-text text-accent-3" href="{{ url_for('sign_up') }}">
            Sign Up</a>
        </p>
    </div>
</div>

{% endblock %}